* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main {
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#child1 {
    height: 650px;
    width: 350px;
    border: 5px solid black;
    border-radius: 30px;
    margin-top: 150px;
    background-color: white;
    box-shadow: 7px 7px rgb(99, 98, 98);
}

#child2 {
    height: 650px;
    width: 350px;
    border: 5px solid black;
    border-radius: 30px;
    margin-top: 150px;
    background-color: white;
    box-shadow: 7px 7px rgb(99, 98, 98);
}

#ear {
    border-radius: 60%;
    height: 300px;
    width: 340px;
    background-color: white;
}

.head1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.para {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;

}

#watch {
    border-radius: 60%;
    height: 300px;
    width: 280px;
    padding: 50px;
}

.head2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.para2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.dollar {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
}

.icon1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: x-large;
    color: rgb(231, 196, 39);
}

.icon2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: x-large;
    color: rgb(231, 196, 39);
}

.blue {
    height: 70px;
    width: 345px;
    margin-top: 26px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: navy;
    color: aliceblue;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.black{
     height: 70px;
    width: 345px;
    margin-top: 26px;
    box-shadow: 2px 2px black;
    border: 3px solid black;
    border-radius: 20px;
    background-color:black;
    color: aliceblue;
     font-size: larger;
    font-family: Arial, Helvetica, sans-serif;

}
.blue:hover{
    background-color: rgb(3, 3, 172);
    color: white;
    font-size: 18px;
}
.black:hover{
    background-color: rgb(43, 43, 43);
    color: white;
    font-size: 18px;
}